node_modules
.idea
cypress.config.js
dev.cypress.config.js
local.cypress.config.js
internal.cypress.config.js

adminUserLoginCookiesFromCypress.json
insiderUserLoginCookiesFromCypress.json
prod.cypress.config.js

local.insiderUserLoginCookiesFromCypress.json
local.adminUserLoginCookiesFromCypress.json
local.readerUserLoginCookiesFromCypress.json

applitools.config.js
/cypress/screenshots/