node_modules
/cypress/screenshots/
ignore
test_info
.idea

cypress.config.js
dev.cypress.config.js
local.cypress.config.js
internal.cypress.config.js
prod.cypress.config.js

local.insiderUserLoginCookiesFromCypress.json
local.adminUserLoginCookiesFromCypress.json
local.subscriberUserLoginCookiesFromCypress.json

internal.insiderUserLoginCookiesFromCypress.json
internal.adminUserLoginCookiesFromCypress.json
internal.subscriberUserLoginCookiesFromCypress.json

dev.insiderUserLoginCookiesFromCypress.json
dev.subscriberUserLoginCookiesFromCypress.json
dev.adminUserLoginCookiesFromCypress.json

applitools.config.js
/cypress/old/*
